/* Write your CSS here */
.suggestion {
  font-family: 'Roboto';
  font-size: 13px;
  color: #475569;
}
.arrow {
  height: 20px;
  width: 20px;
}
.li-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  border: none;
  background-color: transparent;
}
